[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
black = "*"
pre-commit = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
