[Unit]
Description=UniFi Tools
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/.venv/unifi-tools/bin/unifi-tools -l systemd
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
